@charset "UTF-8";
html {
  font-family: Montserrat;
  font-style: normal;
}

.wrapper {
  padding: 0 150px;
}

@media screen and (max-width: 1920px) {
  .wrapper {
    padding: 0 50px 0 50px;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 0 20px 0 20px;
  }
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

button {
  font-weight: normal;
  font-size: 1em;
  text-align: center;
  color: #FFFFFF;
  background: #C4161C;
  outline: none;
  border: none;
  cursor: pointer;
  width: 235px;
  height: 50px;
  text-transform: uppercase;
}

.title {
  font-weight: 600;
  font-size: 40px;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 32px;
  }
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header .header_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -99;
  height: 100%;
}

.header .header_bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .header_overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -88;
  background: rgba(0, 0, 0, 0.7);
}

.header .wrapper {
  display: -ms-grid;
  display: grid;
  padding-top: 42px;
}

@media screen and (max-width: 1920px) {
  .header .wrapper {
    padding: 42px 50px 0 50px;
  }
}

@media screen and (max-width: 480px) {
  .header .wrapper {
    padding: 42px 20px 0 20px;
  }
}

.header .wrapper header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: 1/1/2/13;
}

@media screen and (max-width: 1080px) {
  .header .wrapper header {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header .wrapper header .header_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 1em;
  line-height: 2;
  color: rgba(255, 255, 255, 0.7);
}

.header .wrapper header .header_info .logo {
  margin-right: 70px;
  min-width: 260px;
}

.header .wrapper header .header_info .logo img {
  width: 100%;
}

@media screen and (max-width: 1480px) {
  .header .wrapper header .header_info .logo {
    margin-right: 30px;
  }
}

@media screen and (max-width: 480px) {
  .header .wrapper header .header_info .logo {
    min-width: 200px;
    margin-right: 10px;
  }
}

.header .wrapper header .header_info .info {
  width: 100%;
}

.header .wrapper header .header_info .info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1480px) {
  .header .wrapper header .header_info .info div div:nth-child(2n + 3) {
    display: none;
  }
}

@media screen and (max-width: 1080px) {
  .header .wrapper header .header_info .info div {
    display: none;
  }
}

.header .wrapper header .header_info .info div i {
  margin-right: 14px;
}

.header .wrapper header .header_nav nav {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  color: #FFFFFF;
  position: relative;
}

.header .wrapper header .header_nav nav .main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-area: 1/1/2/10;
}

@media screen and (max-width: 1280px) {
  .header .wrapper header .header_nav nav .main_menu {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-area: 1/1/2/13;
    position: absolute;
    width: 100%;
    left: 0;
    top: 170px;
    display: block;
    height: 0;
    overflow: hidden;
    background: #FFFFFF;
  }
}

@media screen and (max-width: 1280px) and (max-width: 480px) {
  .header .wrapper header .header_nav nav .main_menu {
    top: 177px;
  }
}

@media screen and (max-width: 1280px) {
  .header .wrapper header .header_nav nav .main_menu li {
    min-height: 50px;
    max-height: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 5px;
  }
  .header .wrapper header .header_nav nav .main_menu li:last-child {
    border-bottom: 1px solid #E7E7E7;
  }
}

.header .wrapper header .header_nav nav .main_menu .btn_group {
  display: none;
}

@media screen and (max-width: 1280px) {
  .header .wrapper header .header_nav nav .main_menu .btn_group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .wrapper header .header_nav nav .main_menu .btn_group button {
  margin: 5px;
}

.header .wrapper header .header_nav nav .main_menu li a {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}

@media screen and (max-width: 1280px) {
  .header .wrapper header .header_nav nav .main_menu li a {
    color: #000000;
  }
}

.header .wrapper header .header_nav nav .main_menu li:hover {
  position: relative;
}

@media screen and (max-width: 1280px) {
  .header .wrapper header .header_nav nav .main_menu li:hover {
    left: 22px;
  }
}

.header .wrapper header .header_nav nav .main_menu li:hover a:before {
  position: absolute;
  left: -22px;
  top: 0;
  content: '⭐️';
}

.header .wrapper header .header_nav nav .show_mobile_menu {
  z-index: 200;
  height: 500px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.header .wrapper header .header_nav nav .mobile_menu {
  font-size: 24px;
  color: #FFFFFF;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1280px) {
  .header .wrapper header .header_nav nav .mobile_menu {
    display: block;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
  }
}

.header .wrapper header .header_nav nav .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  cursor: pointer;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 10;
  -ms-grid-column-span: 1;
  grid-area: 1/10/2/11;
}

@media screen and (max-width: 1280px) {
  .header .wrapper header .header_nav nav .search {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 8;
    -ms-grid-column-span: 3;
    grid-area: 1/8/2/11;
  }
}

.header .wrapper header .header_nav nav .search .search_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .header .wrapper header .header_nav nav .search {
    margin-left: 0;
  }
}

.header .wrapper header .header_nav nav .search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.header .wrapper header .header_nav nav .search form input {
  width: 100%;
  height: 100%;
  outline: none;
  display: none;
  border: none;
  font-size: 20px;
  padding-left: 25%;
}

.header .wrapper header .header_nav nav .search .search_result {
  position: absolute;
  top: 50px;
  z-index: 9999;
  right: 0;
  opacity: 0;
  border: 1.03459px solid #E7E7E7;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  width: 16%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .header .wrapper header .header_nav nav .search .search_result {
    width: 43%;
  }
}

@media screen and (max-width: 1080px) {
  .header .wrapper header .header_nav nav .search .search_result {
    width: 37%;
  }
}

@media screen and (max-width: 768px) {
  .header .wrapper header .header_nav nav .search .search_result {
    width: 43%;
  }
}

.header .wrapper header .header_nav nav .search .search_result ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  width: 100%;
}

.header .wrapper header .header_nav nav .search .search_result ul li {
  background-color: #FFFFFF;
  color: #000000;
  padding: 5px 0 5px 10px;
}

.header .wrapper header .header_nav nav .search .search_result ul li:hover {
  background: #F5F5F5;
}

.header .wrapper header .header_nav nav .search .search_result_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.header .wrapper header .header_nav nav .search_show form {
  background: #FFFFFF;
  color: #000000;
  right: 0;
  top: 0;
  height: 100%;
  width: 16%;
}

.header .wrapper header .header_nav nav .search_show form input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1280px) {
  .header .wrapper header .header_nav nav .search_show form {
    width: 43%;
  }
}

@media screen and (max-width: 1080px) {
  .header .wrapper header .header_nav nav .search_show form {
    width: 37%;
  }
}

@media screen and (max-width: 768px) {
  .header .wrapper header .header_nav nav .search_show form {
    width: 43%;
  }
}

.header .wrapper header .header_nav nav .cart {
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 11;
  -ms-grid-column-span: 1;
  grid-area: 1/11/2/12;
  z-index: -1;
}

.header .wrapper header .header_nav nav .cart .cart_info {
  position: relative;
  margin-right: 10px;
}

.header .wrapper header .header_nav nav .cart .cart_info .total_cart {
  position: absolute;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #C4161C;
  font-size: 12px;
  border-radius: 50%;
  top: -20px;
  right: -15px;
}

@media screen and (max-width: 1080px) {
  .header .wrapper header .header_nav nav .cart .cart_title {
    display: none;
  }
}

.header .wrapper header .header_nav nav .cart_hide {
  display: none;
}

.content_block .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 9fr;
      grid-template-columns: 3fr 9fr;
  padding-top: 30px;
}

@media screen and (max-width: 1280px) {
  .content_block .wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.content_block .wrapper .mobile_data {
  display: none;
  font-weight: bold;
  font-size: 16px;
  color: #4D4D4D;
  position: relative;
  top: 60px;
  z-index: 100;
}

.content_block .wrapper .mobile_data div {
  cursor: pointer;
}

.content_block .wrapper .mobile_data div:hover {
  color: #C4161C;
}

@media screen and (max-width: 1280px) {
  .content_block .wrapper .mobile_data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.content_block .wrapper .sidebar {
  min-width: 310px;
}

.content_block .wrapper .sidebar nav {
  position: relative;
  z-index: 100;
}

@media screen and (max-width: 1280px) {
  .content_block .wrapper .sidebar nav .cat_menu {
    overflow: hidden;
    height: 0;
  }
}

.content_block .wrapper .sidebar nav .cat_menu li {
  border-bottom: 1px solid #E7E7E7;
  border-left: 1px solid #E7E7E7;
  border-right: 1px solid #E7E7E7;
}

.content_block .wrapper .sidebar nav .cat_menu li a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  padding: 0 40px;
  color: #000000;
}

.content_block .wrapper .sidebar nav .cat_menu li a .link_title {
  padding: 20px 0;
}

.content_block .wrapper .sidebar nav .cat_menu li a i:first-child {
  margin-right: 20px;
}

.content_block .wrapper .sidebar nav .cat_menu li .sub_menu {
  width: 70%;
  margin-left: 85px;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content_block .wrapper .sidebar nav .cat_menu li .sub_menu li {
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.content_block .wrapper .sidebar nav .cat_menu li .sub_menu li:first-child {
  border-top: none;
}

.content_block .wrapper .sidebar nav .cat_menu li .sub_menu a {
  font-size: 16px;
  padding: 6px 0;
}

.content_block .wrapper .sidebar nav .cat_menu li .sub_menu a:hover {
  color: #C4161C;
}

.content_block .wrapper .sidebar nav .cat_menu li:first-child {
  border-top: 1px solid #E7E7E7;
}

.content_block .wrapper .sidebar nav .cat_menu .cat_menu_item:hover a {
  color: #C4161C;
}

.content_block .wrapper .sidebar nav .cat_menu .cat_menu_item:hover .sub_menu {
  height: 100px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.content_block .wrapper .sidebar nav .cat_menu .cat_menu_item:hover .sub_menu a {
  color: #000000;
}

.content_block .wrapper .sidebar nav .cat_menu .cat_menu_item:hover .sub_menu a:hover {
  color: #C4161C;
}

.content_block .wrapper .sidebar nav .show_menu_burger {
  display: block;
  position: absolute;
  width: 100%;
  background: white;
  top: 79px;
  height: 700px;
  -webkit-transition: height 1s ease;
  transition: height 1s ease;
}

.content_block .wrapper .content {
  margin-left: 60px;
}

@media screen and (max-width: 1440px) {
  .content_block .wrapper .content {
    margin-left: 30px;
  }
}

@media screen and (max-width: 1280px) {
  .content_block .wrapper .content {
    margin-left: 0;
    position: relative;
    z-index: 99;
  }
}

.content_block .wrapper .content .breadcrumbs {
  margin-bottom: 40px;
}

@media screen and (max-width: 1280px) {
  .content_block .wrapper .content .breadcrumbs {
    margin-bottom: 60px;
  }
}

.content_block .wrapper .content .breadcrumbs a {
  font-size: 12px;
  text-transform: uppercase;
  color: #4D4D4D;
  text-decoration: none;
}

.content_block .wrapper .content .breadcrumbs a::after {
  content: "/";
}

.content_block .wrapper .content .breadcrumbs a:last-child::after {
  content: "";
}

.content_block .wrapper .content .contact_wrapper .contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75% 25%;
      grid-template-columns: 75% 25%;
}

@media screen and (max-width: 1280px) {
  .content_block .wrapper .content .contact_wrapper .contacts {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0 150px;
  }
}

@media screen and (max-width: 768px) {
  .content_block .wrapper .content .contact_wrapper .contacts {
    padding: 0 25px;
  }
}

.content_block .wrapper .content .contact_wrapper .contacts .maps {
  margin-right: 65px;
}

@media screen and (max-width: 1280px) {
  .content_block .wrapper .content .contact_wrapper .contacts .maps {
    margin-right: 0;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-area: 2/1/3/13;
    margin-top: 40px;
  }
}

.content_block .wrapper .content .contact_wrapper .contacts .maps iframe {
  width: 100%;
  min-height: 285px;
  height: 100%;
}

.content_block .wrapper .content .contact_wrapper .contacts .contact {
  font-weight: 600;
  font-size: 18px;
}

@media screen and (max-width: 1080px) {
  .content_block .wrapper .content .contact_wrapper .contacts .contact {
    font-size: 14px;
  }
}

.content_block .wrapper .content .contact_wrapper .contacts .contact i {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .content_block .wrapper .content .contact_wrapper .contacts .contact i {
    margin-right: 10px;
  }
}

.content_block .wrapper .content .contact_wrapper .contacts .contact .contact_title {
  margin-top: 65px;
  margin-bottom: 45px;
}

@media screen and (max-width: 768px) {
  .content_block .wrapper .content .contact_wrapper .contacts .contact .contact_title {
    margin-top: 25px;
  }
}

.content_block .wrapper .content .contact_wrapper .contacts .contact .contact_additional_info {
  margin-bottom: 70px;
}

.content_block .wrapper .content .contact_wrapper .contacts .contact .contact_additional_info .additional_elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

.content_block .wrapper .content .contact_wrapper .contacts .contact .contact_additional_info .additional_elem .additional_elem_street {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

@media screen and (max-width: 1280px) {
  .content_block .wrapper .content .contact_wrapper .contacts .contact .contact_additional_info .additional_elem .additional_elem_street {
    display: none;
  }
}

.content_block .wrapper .content .contact_wrapper .contacts .contact .contact_additional_info .additional_elem .additional_elem_street .img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content_block .wrapper .content .contact_wrapper .contacts .contact .contact_additional_info .additional_elem .additional_elem_street .img .fas {
  position: absolute;
}

.content_block .wrapper .content .contact_wrapper .contacts .contact .contact_additional_info .additional_elem .additional_elem_street .street_active {
  color: #C4161C;
}

.content_block .wrapper .content .contact_wrapper .contacts .contact .contact_additional_info .additional_elem .additional_elem_street .fas {
  font-size: 4px;
}

.content_block .wrapper .content .contact_wrapper .contacts .contact .contact_additional_info .additional_elem .additional_elem_phone {
  margin-right: 20px;
}

.content_block .wrapper .content .contact_wrapper .contacts .contact .contact_additional_info .additional_elem .additional_elem_phone2 {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_block .wrapper .content .contact_wrapper .contacts .contact .contact_additional_info .additional_elem .additional_elem_phone2 .fas {
  font-size: 4px;
}

.content_block .wrapper .content .contact_wrapper .contacts .contact .mail {
  margin-bottom: 38px;
}

.content_block .wrapper .content .contact_wrapper .contacts .contact .time {
  margin-bottom: 38px;
}

.content_block .wrapper .content .contact_wrapper .contacts .contact button {
  width: 235px;
  margin-bottom: 100px;
}

@media screen and (max-width: 1280px) {
  .content_block .wrapper .content .contact_wrapper .contacts .contact button {
    margin-bottom: 40px;
  }
}

.content_block .wrapper .content .contact_wrapper .contacts .contact button:hover {
  border: 1px solid #C4161C;
}

.content_block .wrapper .content .contact_wrapper .contacts .contact .social_block {
  width: 50%;
}

@media screen and (max-width: 1280px) {
  .content_block .wrapper .content .contact_wrapper .contacts .contact .social_block {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .content_block .wrapper .content .contact_wrapper .contacts .contact .social_block {
    width: 100%;
  }
}

.content_block .wrapper .content .contact_wrapper .contacts .contact .social_block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content_block .wrapper .content .contact_wrapper .contacts .contact .social_block ul i {
  margin-right: 0;
}

.content_block .wrapper .content .contact_wrapper .contacts .contact .social_block ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.content_block .wrapper .content .contact_wrapper .contacts .contact .social_block ul li a:hover {
  color: #C4161C;
}

.content_block .wrapper .content .contact_wrapper .contacts .contact .maps_add_street {
  display: none;
}

@media screen and (max-width: 1280px) {
  .content_block .wrapper .content .contact_wrapper .contacts .contact .maps_add_street {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.content_block .wrapper .content .contact_wrapper .contacts .contact .maps_add_street .additional_elem_street {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.content_block .wrapper .content .contact_wrapper .contacts .contact .maps_add_street .additional_elem_street .img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content_block .wrapper .content .contact_wrapper .contacts .contact .maps_add_street .additional_elem_street .img .fas {
  position: absolute;
}

.content_block .wrapper .content .contact_wrapper .contacts .contact .maps_add_street .additional_elem_street .street_active {
  color: #C4161C;
}

.content_block .wrapper .content .contact_wrapper .contacts .contact .maps_add_street .additional_elem_street .fas {
  font-size: 4px;
}

footer {
  background: #C4161C;
}

footer .wrapper {
  display: -ms-grid;
  display: grid;
  padding-top: 70px;
  padding-bottom: 70px;
}

footer .wrapper .footer_logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
}

@media screen and (max-width: 1440px) {
  footer .wrapper .footer_logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: 1/1/2/6;
    width: 50%;
  }
}

footer .wrapper .footer_logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

footer .wrapper .social_link {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-area: 1/6/2/13;
  -ms-flex-line-pack: center;
      align-content: center;
  display: none;
}

@media screen and (max-width: 1440px) {
  footer .wrapper .social_link {
    display: -ms-grid;
    display: grid;
  }
}

footer .wrapper .social_link ul {
  font-size: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .wrapper .social_link ul li {
  margin: 0 10px;
}

footer .wrapper .social_link ul li a {
  color: #FFFFFF;
  opacity: .7;
}

footer .wrapper .footer_menu {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 10;
  grid-area: 1/3/2/13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1440px) {
  footer .wrapper .footer_menu {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-area: 3/1/4/13;
  }
}

footer .wrapper .footer_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}

@media screen and (max-width: 1280px) {
  footer .wrapper .footer_menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0;
  }
}

@media screen and (max-width: 1280px) {
  footer .wrapper .footer_menu ul li {
    margin-bottom: 15px;
  }
}

footer .wrapper .footer_menu ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}

footer .wrapper .footer_menu ul li:hover a:before {
  content: '⭐️';
}

footer .wrapper .confedicial {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 10;
  grid-area: 2/3/3/13;
  text-align: right;
  font-size: 18px;
  color: #FFFFFF;
}

@media screen and (max-width: 1440px) {
  footer .wrapper .confedicial {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-area: 2/1/3/13;
    text-align: left;
    margin: 20px 0;
  }
}
/*# sourceMappingURL=contact.css.map */