@charset "UTF-8";
html {
  font-family: Montserrat;
  font-style: normal;
}

.wrapper {
  padding: 0 150px;
}

@media screen and (max-width: 1920px) {
  .wrapper {
    padding: 0 50px 0 50px;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 0 20px 0 20px;
  }
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

button {
  font-weight: normal;
  font-size: 1em;
  text-align: center;
  color: #FFFFFF;
  background: #C4161C;
  outline: none;
  border: none;
  cursor: pointer;
  width: 235px;
  height: 50px;
  text-transform: uppercase;
}

.title {
  font-weight: 600;
  font-size: 40px;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 32px;
  }
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header .header_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -99;
  height: 100%;
}

.header .header_bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .header_overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -88;
  background: rgba(0, 0, 0, 0.7);
}

.header .wrapper {
  display: -ms-grid;
  display: grid;
  padding-top: 42px;
}

@media screen and (max-width: 1920px) {
  .header .wrapper {
    padding: 42px 50px 0 50px;
  }
}

@media screen and (max-width: 480px) {
  .header .wrapper {
    padding: 42px 20px 0 20px;
  }
}

.header .wrapper header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: 1/1/2/13;
}

@media screen and (max-width: 1080px) {
  .header .wrapper header {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header .wrapper header .header_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 1em;
  line-height: 2;
  color: rgba(255, 255, 255, 0.7);
}

.header .wrapper header .header_info .logo {
  margin-right: 70px;
  min-width: 260px;
}

.header .wrapper header .header_info .logo img {
  width: 100%;
}

@media screen and (max-width: 1480px) {
  .header .wrapper header .header_info .logo {
    margin-right: 30px;
  }
}

@media screen and (max-width: 480px) {
  .header .wrapper header .header_info .logo {
    min-width: 200px;
    margin-right: 10px;
  }
}

.header .wrapper header .header_info .info {
  width: 100%;
}

.header .wrapper header .header_info .info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1480px) {
  .header .wrapper header .header_info .info div div:nth-child(2n + 3) {
    display: none;
  }
}

@media screen and (max-width: 1080px) {
  .header .wrapper header .header_info .info div {
    display: none;
  }
}

.header .wrapper header .header_info .info div i {
  margin-right: 14px;
}

.header .wrapper header .header_nav nav {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  color: #FFFFFF;
  position: relative;
}

.header .wrapper header .header_nav nav .main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-area: 1/1/2/10;
}

@media screen and (max-width: 1280px) {
  .header .wrapper header .header_nav nav .main_menu {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-area: 1/1/2/13;
    position: absolute;
    width: 100%;
    left: 0;
    top: 170px;
    display: block;
    height: 0;
    overflow: hidden;
    background: #FFFFFF;
  }
}

@media screen and (max-width: 1280px) and (max-width: 480px) {
  .header .wrapper header .header_nav nav .main_menu {
    top: 177px;
  }
}

@media screen and (max-width: 1280px) {
  .header .wrapper header .header_nav nav .main_menu li {
    min-height: 50px;
    max-height: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 5px;
  }
  .header .wrapper header .header_nav nav .main_menu li:last-child {
    border-bottom: 1px solid #E7E7E7;
  }
}

.header .wrapper header .header_nav nav .main_menu .btn_group {
  display: none;
}

@media screen and (max-width: 1280px) {
  .header .wrapper header .header_nav nav .main_menu .btn_group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .wrapper header .header_nav nav .main_menu .btn_group button {
  margin: 5px;
}

.header .wrapper header .header_nav nav .main_menu li a {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}

@media screen and (max-width: 1280px) {
  .header .wrapper header .header_nav nav .main_menu li a {
    color: #000000;
  }
}

.header .wrapper header .header_nav nav .main_menu li:hover {
  position: relative;
}

@media screen and (max-width: 1280px) {
  .header .wrapper header .header_nav nav .main_menu li:hover {
    left: 22px;
  }
}

.header .wrapper header .header_nav nav .main_menu li:hover a:before {
  position: absolute;
  left: -22px;
  top: 0;
  content: '⭐️';
}

.header .wrapper header .header_nav nav .show_mobile_menu {
  z-index: 200;
  height: 500px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.header .wrapper header .header_nav nav .mobile_menu {
  font-size: 24px;
  color: #FFFFFF;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1280px) {
  .header .wrapper header .header_nav nav .mobile_menu {
    display: block;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
  }
}

.header .wrapper header .header_nav nav .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  cursor: pointer;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 10;
  -ms-grid-column-span: 1;
  grid-area: 1/10/2/11;
}

@media screen and (max-width: 1280px) {
  .header .wrapper header .header_nav nav .search {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 8;
    -ms-grid-column-span: 3;
    grid-area: 1/8/2/11;
  }
}

.header .wrapper header .header_nav nav .search .search_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .header .wrapper header .header_nav nav .search {
    margin-left: 0;
  }
}

.header .wrapper header .header_nav nav .search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.header .wrapper header .header_nav nav .search form input {
  width: 100%;
  height: 100%;
  outline: none;
  display: none;
  border: none;
  font-size: 20px;
  padding-left: 25%;
}

.header .wrapper header .header_nav nav .search .search_result {
  position: absolute;
  top: 50px;
  z-index: 9999;
  right: 0;
  opacity: 0;
  border: 1.03459px solid #E7E7E7;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  width: 16%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .header .wrapper header .header_nav nav .search .search_result {
    width: 43%;
  }
}

@media screen and (max-width: 1080px) {
  .header .wrapper header .header_nav nav .search .search_result {
    width: 37%;
  }
}

@media screen and (max-width: 768px) {
  .header .wrapper header .header_nav nav .search .search_result {
    width: 43%;
  }
}

.header .wrapper header .header_nav nav .search .search_result ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  width: 100%;
}

.header .wrapper header .header_nav nav .search .search_result ul li {
  background-color: #FFFFFF;
  color: #000000;
  padding: 5px 0 5px 10px;
}

.header .wrapper header .header_nav nav .search .search_result ul li:hover {
  background: #F5F5F5;
}

.header .wrapper header .header_nav nav .search .search_result_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.header .wrapper header .header_nav nav .search_show form {
  background: #FFFFFF;
  color: #000000;
  right: 0;
  top: 0;
  height: 100%;
  width: 16%;
}

.header .wrapper header .header_nav nav .search_show form input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1280px) {
  .header .wrapper header .header_nav nav .search_show form {
    width: 43%;
  }
}

@media screen and (max-width: 1080px) {
  .header .wrapper header .header_nav nav .search_show form {
    width: 37%;
  }
}

@media screen and (max-width: 768px) {
  .header .wrapper header .header_nav nav .search_show form {
    width: 43%;
  }
}

.header .wrapper header .header_nav nav .cart {
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 11;
  -ms-grid-column-span: 1;
  grid-area: 1/11/2/12;
  z-index: -1;
}

.header .wrapper header .header_nav nav .cart .cart_info {
  position: relative;
  margin-right: 10px;
}

.header .wrapper header .header_nav nav .cart .cart_info .total_cart {
  position: absolute;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #C4161C;
  font-size: 12px;
  border-radius: 50%;
  top: -20px;
  right: -15px;
}

@media screen and (max-width: 1080px) {
  .header .wrapper header .header_nav nav .cart .cart_title {
    display: none;
  }
}

.header .wrapper header .header_nav nav .cart_hide {
  display: none;
}

.content_block .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 9fr;
      grid-template-columns: 3fr 9fr;
  padding-top: 30px;
}

@media screen and (max-width: 1280px) {
  .content_block .wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.content_block .wrapper .mobile_data {
  display: none;
  font-weight: bold;
  font-size: 16px;
  color: #4D4D4D;
  position: relative;
  top: 60px;
  z-index: 100;
}

.content_block .wrapper .mobile_data div {
  cursor: pointer;
}

.content_block .wrapper .mobile_data div:hover {
  color: #C4161C;
}

@media screen and (max-width: 1280px) {
  .content_block .wrapper .mobile_data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.content_block .wrapper .sidebar {
  min-width: 310px;
}

.content_block .wrapper .sidebar nav {
  position: relative;
  z-index: 100;
}

@media screen and (max-width: 1280px) {
  .content_block .wrapper .sidebar nav .cat_menu {
    overflow: hidden;
    height: 0;
  }
}

.content_block .wrapper .sidebar nav .cat_menu li {
  border-bottom: 1px solid #E7E7E7;
  border-left: 1px solid #E7E7E7;
  border-right: 1px solid #E7E7E7;
}

.content_block .wrapper .sidebar nav .cat_menu li a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  padding: 0 40px;
  color: #000000;
}

.content_block .wrapper .sidebar nav .cat_menu li a .link_title {
  padding: 20px 0;
}

.content_block .wrapper .sidebar nav .cat_menu li a i:first-child {
  margin-right: 20px;
}

.content_block .wrapper .sidebar nav .cat_menu li .sub_menu {
  width: 70%;
  margin-left: 85px;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content_block .wrapper .sidebar nav .cat_menu li .sub_menu li {
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.content_block .wrapper .sidebar nav .cat_menu li .sub_menu li:first-child {
  border-top: none;
}

.content_block .wrapper .sidebar nav .cat_menu li .sub_menu a {
  font-size: 16px;
  padding: 6px 0;
}

.content_block .wrapper .sidebar nav .cat_menu li .sub_menu a:hover {
  color: #C4161C;
}

.content_block .wrapper .sidebar nav .cat_menu li:first-child {
  border-top: 1px solid #E7E7E7;
}

.content_block .wrapper .sidebar nav .cat_menu .cat_menu_item:hover a {
  color: #C4161C;
}

.content_block .wrapper .sidebar nav .cat_menu .cat_menu_item:hover .sub_menu {
  height: 100px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.content_block .wrapper .sidebar nav .cat_menu .cat_menu_item:hover .sub_menu a {
  color: #000000;
}

.content_block .wrapper .sidebar nav .cat_menu .cat_menu_item:hover .sub_menu a:hover {
  color: #C4161C;
}

.content_block .wrapper .sidebar nav .show_menu_burger {
  display: block;
  position: absolute;
  width: 100%;
  background: white;
  top: 79px;
  height: 700px;
  -webkit-transition: height 1s ease;
  transition: height 1s ease;
}

.content_block .wrapper .content {
  margin-left: 60px;
}

@media screen and (max-width: 1440px) {
  .content_block .wrapper .content {
    margin-left: 30px;
  }
}

@media screen and (max-width: 1280px) {
  .content_block .wrapper .content {
    margin-left: 0;
    position: relative;
    z-index: 99;
  }
}

.content_block .wrapper .content .breadcrumbs {
  margin-bottom: 40px;
}

@media screen and (max-width: 1280px) {
  .content_block .wrapper .content .breadcrumbs {
    margin-bottom: 60px;
  }
}

.content_block .wrapper .content .breadcrumbs a {
  font-size: 12px;
  text-transform: uppercase;
  color: #4D4D4D;
  text-decoration: none;
}

.content_block .wrapper .content .breadcrumbs a::after {
  content: "/";
}

.content_block .wrapper .content .breadcrumbs a:last-child::after {
  content: "";
}

.content_block .wrapper .content .content_items .content_item_title {
  margin-bottom: 20px;
  font-size: 26px;
}

.content_block .wrapper .content .content_items .content_block {
  display: -ms-grid;
  display: grid;
}

.content_block .wrapper .content .content_items .content_block .product_slider {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 1/1/2/6;
  margin-right: 20px;
}

@media screen and (max-width: 1280px) {
  .content_block .wrapper .content .content_items .content_block .product_slider {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 11;
    grid-area: 1/1/2/12;
  }
}

.content_block .wrapper .content .content_items .content_block .product_slider .main_img {
  width: 100%;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 580px) {
  .content_block .wrapper .content .content_items .content_block .product_slider .main_img {
    height: 250px;
  }
}

.content_block .wrapper .content .content_items .content_block .product_slider .main_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.content_block .wrapper .content .content_items .content_block .product_slider .main_img .hide {
  display: none;
}

.content_block .wrapper .content .content_items .content_block .product_slider .dots_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.content_block .wrapper .content .content_items .content_block .product_slider .dots_img .dot_img {
  position: relative;
  width: 100%;
  height: 180px;
}

@media screen and (max-width: 580px) {
  .content_block .wrapper .content .content_items .content_block .product_slider .dots_img .dot_img {
    height: 110px;
  }
}

.content_block .wrapper .content .content_items .content_block .product_slider .dots_img .dot_img .dot_img_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.content_block .wrapper .content .content_items .content_block .product_slider .dots_img .dot_img .active {
  background: rgba(0, 0, 0, 0.35);
}

.content_block .wrapper .content .content_items .content_block .product_slider .dots_img .dot_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.content_block .wrapper .content .content_items .content_block .product_slider .slider_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}

.content_block .wrapper .content .content_items .content_block .product_slider .slider_nav div {
  width: 50px;
  height: 50px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  color: gray;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .content_block .wrapper .content .content_items .content_block .product_slider .slider_nav div {
    width: 25px;
    height: 25px;
    font-size: 0.75em;
  }
}

.content_block .wrapper .content .content_items .content_block .product_slider .slider_nav div:hover {
  background: #C4161C;
  color: white;
}

.content_block .wrapper .content .content_items .content_block .product_slider .slider_nav .prev {
  margin-right: 20px;
}

.content_block .wrapper .content .content_items .content_block .product_slider .slider_nav .prev i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.content_block .wrapper .content .content_items .content_block .product_info {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 6;
  grid-area: 1/6/2/12;
}

@media screen and (max-width: 1280px) {
  .content_block .wrapper .content .content_items .content_block .product_info {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 11;
    grid-area: 2/1/3/12;
  }
}

.content_block .wrapper .content .content_items .content_block .product_info .price {
  font-weight: normal;
  font-size: 30px;
  color: #C4161C;
}

.content_block .wrapper .content .content_items .content_block .product_info .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .content_block .wrapper .content .content_items .content_block .product_info .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.content_block .wrapper .content .content_items .content_block .product_info .form .total_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #F0F0F0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100%;
  padding: 0 20px;
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .content_block .wrapper .content .content_items .content_block .product_info .form .total_product {
    margin-right: 0;
    width: 235px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.content_block .wrapper .content .content_items .content_block .product_info .form .total_product .decrease_product {
  font-size: 40px;
  cursor: pointer;
}

.content_block .wrapper .content .content_items .content_block .product_info .form .total_product .decrease_product:hover {
  color: gray;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.content_block .wrapper .content .content_items .content_block .product_info .form .total_product .increase_product {
  font-size: 40px;
  cursor: pointer;
}

.content_block .wrapper .content .content_items .content_block .product_info .form .total_product .increase_product:hover {
  color: gray;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.content_block .wrapper .content .content_items .content_block .product_info .form .total_product input {
  border: none;
  outline: none;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .content_block .wrapper .content .content_items .content_block .product_info .form .total_product input {
    width: 50px;
  }
}

.content_block .wrapper .content .content_items .content_block .product_info .color {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_block .wrapper .content .content_items .content_block .product_info .color .color_title {
  font-weight: normal;
  font-size: 18px;
  color: #4D4D4D;
  margin-right: 30px;
}

.content_block .wrapper .content .content_items .content_block .product_info .color ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  padding: 0 5px;
}

.content_block .wrapper .content .content_items .content_block .product_info .color ul li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px 5px;
}

@media screen and (max-width: 1280px) {
  .content_block .wrapper .content .content_items .content_block .product_info .color ul li {
    width: 35px;
    height: 35px;
  }
}

.content_block .wrapper .content .content_items .content_block .product_info .color ul li:nth-child(1) {
  background-color: red;
}

.content_block .wrapper .content .content_items .content_block .product_info .color ul li:nth-child(2) {
  background-color: blue;
}

.content_block .wrapper .content .content_items .content_block .product_info .color ul li:nth-child(3) {
  background-color: gray;
}

.content_block .wrapper .content .content_items .content_block .product_info .color ul li:nth-child(4) {
  background-color: violet;
}

.content_block .wrapper .content .content_items .content_block .product_info .size {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_block .wrapper .content .content_items .content_block .product_info .size .size_title {
  font-weight: normal;
  font-size: 18px;
  color: #4D4D4D;
  margin-right: 30px;
}

.content_block .wrapper .content .content_items .content_block .product_info .size ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
}

@media screen and (max-width: 768px) {
  .content_block .wrapper .content .content_items .content_block .product_info .size ul {
    font-size: 12px;
  }
}

.content_block .wrapper .content .content_items .content_block .product_info .size ul li {
  width: 100%;
  border: 1px solid #E7E7E7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_block .wrapper .content .content_items .content_block .product_info .characters {
  margin-top: 20px;
}

.content_block .wrapper .content .content_items .content_block .product_info .characters .characters_title {
  font-weight: normal;
  font-size: 18px;
  color: #4D4D4D;
  margin-right: 30px;
  margin-bottom: 20px;
}

.content_block .wrapper .content .content_items .content_block .product_info .characters ul {
  overflow-y: scroll;
}

.content_block .wrapper .content .content_items .content_block .product_info .characters ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  border-bottom: 1px solid #F0F0F0;
  padding: 10px 0;
}

.content_block .wrapper .content .content_items .content_block .product_info .characters ul li .character_name {
  margin-right: 20px;
}

.content_block .wrapper .content .content_items .content_block .product_info .characters ul li .character_descr {
  text-align: right;
}

.content_block .wrapper .content .content_items .product_description {
  margin-top: 90px;
}

.content_block .wrapper .content .content_items .product_description .block_tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E7E7E7;
}

@media screen and (max-width: 768px) {
  .content_block .wrapper .content .content_items .product_description .block_tabs {
    font-size: 16px;
  }
}

.content_block .wrapper .content .content_items .product_description .block_tabs div {
  cursor: pointer;
}

.content_block .wrapper .content .content_items .product_description .block_tabs div:hover {
  color: #C4161C;
}

.content_block .wrapper .content .content_items .product_description .tab_active {
  color: #C4161C;
}

.content_block .wrapper .content .content_items .product_description .tabs_content .tabs_hide {
  display: none;
}

.content_block .wrapper .content .content_items .modules .modules_title {
  margin-bottom: 40px;
}

.content_block .wrapper .content .content_items .modules .modules_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media screen and (max-width: 1440px) {
  .content_block .wrapper .content .content_items .modules .modules_wrapper {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .content_block .wrapper .content .content_items .modules .modules_wrapper {
    -ms-grid-columns: (minmax(160px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
}

.content_block .wrapper .content .content_items .modules .modules_wrapper .modules_elem {
  border: 1.03459px solid #E7E7E7;
  padding: 10px;
}

.content_block .wrapper .content .content_items .modules .modules_wrapper .modules_elem .elem_img {
  height: 250px;
}

.content_block .wrapper .content .content_items .modules .modules_wrapper .modules_elem .elem_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.content_block .wrapper .content .content_items .modules .modules_wrapper .modules_elem .elem_img .elem_img_hide {
  display: none;
}

@media screen and (max-width: 768px) {
  .content_block .wrapper .content .content_items .modules .modules_wrapper .modules_elem .elem_img {
    height: 150px;
  }
}

.content_block .wrapper .content .content_items .modules .modules_wrapper .modules_elem .elem_title {
  font-weight: normal;
  font-size: 14px;
  color: #151515;
  margin-top: 20px;
}

.content_block .wrapper .content .content_items .modules .modules_wrapper .modules_elem .elem_slide_dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .content_block .wrapper .content .content_items .modules .modules_wrapper .modules_elem .elem_slide_dots {
    margin-top: 5px;
  }
}

.content_block .wrapper .content .content_items .modules .modules_wrapper .modules_elem .elem_slide_dots .line {
  border: 1px solid #E7E7E7;
  width: 30%;
  cursor: pointer;
  background: #E7E7E7;
}

.content_block .wrapper .content .content_items .modules .modules_wrapper .modules_elem .elem_slide_dots .line_active {
  border: 1px solid #C5161D;
  background: #C5161D;
}

.content_block .wrapper .content .content_items .modules .modules_wrapper .modules_elem .elem_slide_dots .line:hover {
  background: #C5161D;
  border: 1px solid #C5161D;
}

.content_block .wrapper .content .content_items .modules .modules_wrapper .modules_elem .price_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .content_block .wrapper .content .content_items .modules .modules_wrapper .modules_elem .price_cart {
    font-size: 16px;
  }
}

.content_block .wrapper .content .content_items .modules .modules_wrapper .modules_elem .price_cart .elem_price {
  font-weight: 600;
  color: #151515;
}

.content_block .wrapper .content .content_items .modules .modules_wrapper .modules_elem .price_cart .cart {
  color: #C4C4C4;
  cursor: pointer;
}

.content_block .wrapper .content .content_items .modules .modules_wrapper .modules_elem .price_cart .cart:hover {
  color: #C5161D;
}

.content_block .wrapper .content .content_items .modules .modules_wrapper .content_items_elem:hover {
  -webkit-box-shadow: 0px 0px 20.6919px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20.6919px rgba(0, 0, 0, 0.25);
}

.content_block .wrapper .content .content_items .recent_reviews {
  margin-top: 85px;
  overflow: hidden;
}

.content_block .wrapper .content .content_items .recent_reviews .recent_reviews_title {
  margin-bottom: 40px;
}

.content_block .wrapper .content .content_items .recent_reviews .recent_reviews_wrapper {
  position: relative;
  height: 400px;
}

@media screen and (max-width: 768px) {
  .content_block .wrapper .content .content_items .recent_reviews .recent_reviews_wrapper {
    height: 250px;
  }
}

.content_block .wrapper .content .content_items .recent_reviews .recent_reviews_wrapper .reviews_wrapper_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.content_block .wrapper .content .content_items .recent_reviews .recent_reviews_wrapper .reviews_wrapper_inner .recent_reviews_elem {
  border: 1px solid #E7E7E7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.content_block .wrapper .content .content_items .recent_reviews .recent_reviews_wrapper .reviews_wrapper_inner .recent_reviews_elem .elem_img {
  height: 250px;
}

@media screen and (max-width: 768px) {
  .content_block .wrapper .content .content_items .recent_reviews .recent_reviews_wrapper .reviews_wrapper_inner .recent_reviews_elem .elem_img {
    height: 150px;
  }
}

.content_block .wrapper .content .content_items .recent_reviews .recent_reviews_wrapper .reviews_wrapper_inner .recent_reviews_elem .elem_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.content_block .wrapper .content .content_items .recent_reviews .recent_reviews_wrapper .reviews_wrapper_inner .recent_reviews_elem .elem_img .elem_img_hide {
  display: none;
}

.content_block .wrapper .content .content_items .recent_reviews .recent_reviews_wrapper .reviews_wrapper_inner .recent_reviews_elem .elem_title {
  font-weight: normal;
  font-size: 14px;
  color: #151515;
  margin-top: 20px;
}

.content_block .wrapper .content .content_items .recent_reviews .recent_reviews_wrapper .reviews_wrapper_inner .recent_reviews_elem .elem_slide_dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .content_block .wrapper .content .content_items .recent_reviews .recent_reviews_wrapper .reviews_wrapper_inner .recent_reviews_elem .elem_slide_dots {
    margin-top: 5px;
  }
}

.content_block .wrapper .content .content_items .recent_reviews .recent_reviews_wrapper .reviews_wrapper_inner .recent_reviews_elem .elem_slide_dots .line {
  border: 1px solid #E7E7E7;
  width: 30%;
  cursor: pointer;
  background: #E7E7E7;
}

.content_block .wrapper .content .content_items .recent_reviews .recent_reviews_wrapper .reviews_wrapper_inner .recent_reviews_elem .elem_slide_dots .line_active {
  border: 1px solid #C5161D;
  background: #C5161D;
}

.content_block .wrapper .content .content_items .recent_reviews .recent_reviews_wrapper .reviews_wrapper_inner .recent_reviews_elem .elem_slide_dots .line:hover {
  background: #C5161D;
  border: 1px solid #C5161D;
}

.content_block .wrapper .content .content_items .recent_reviews .recent_reviews_wrapper .reviews_wrapper_inner .recent_reviews_elem .price_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .content_block .wrapper .content .content_items .recent_reviews .recent_reviews_wrapper .reviews_wrapper_inner .recent_reviews_elem .price_cart {
    font-size: 16px;
  }
}

.content_block .wrapper .content .content_items .recent_reviews .recent_reviews_wrapper .reviews_wrapper_inner .recent_reviews_elem .price_cart .elem_price {
  font-weight: 600;
  color: #151515;
}

.content_block .wrapper .content .content_items .recent_reviews .recent_reviews_wrapper .reviews_wrapper_inner .recent_reviews_elem .price_cart .cart {
  color: #C4C4C4;
  cursor: pointer;
}

.content_block .wrapper .content .content_items .recent_reviews .recent_reviews_wrapper .reviews_wrapper_inner .recent_reviews_elem .price_cart .cart:hover {
  color: #C5161D;
}

.content_block .wrapper .content .content_items .recent_reviews .recent_reviews_wrapper .reviews_wrapper_inner .content_items_elem:hover {
  -webkit-box-shadow: 0px 0px 20.6919px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20.6919px rgba(0, 0, 0, 0.25);
}

.content_block .wrapper .content .content_items .recent_reviews .slider_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 50px;
  margin-bottom: 80px;
}

.content_block .wrapper .content .content_items .recent_reviews .slider_nav div {
  width: 50px;
  height: 50px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  color: gray;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .content_block .wrapper .content .content_items .recent_reviews .slider_nav div {
    width: 25px;
    height: 25px;
    font-size: 0.75em;
  }
}

.content_block .wrapper .content .content_items .recent_reviews .slider_nav div:hover {
  background: #C4161C;
  color: white;
}

.content_block .wrapper .content .content_items .recent_reviews .slider_nav .prev {
  margin-right: 20px;
}

.content_block .wrapper .content .content_items .recent_reviews .slider_nav .prev i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

footer {
  background: #C4161C;
}

footer .wrapper {
  display: -ms-grid;
  display: grid;
  padding-top: 70px;
  padding-bottom: 70px;
}

footer .wrapper .footer_logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
}

@media screen and (max-width: 1440px) {
  footer .wrapper .footer_logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: 1/1/2/6;
    width: 50%;
  }
}

footer .wrapper .footer_logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

footer .wrapper .social_link {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-area: 1/6/2/13;
  -ms-flex-line-pack: center;
      align-content: center;
  display: none;
}

@media screen and (max-width: 1440px) {
  footer .wrapper .social_link {
    display: -ms-grid;
    display: grid;
  }
}

footer .wrapper .social_link ul {
  font-size: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .wrapper .social_link ul li {
  margin: 0 10px;
}

footer .wrapper .social_link ul li a {
  color: #FFFFFF;
  opacity: .7;
}

footer .wrapper .footer_menu {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 10;
  grid-area: 1/3/2/13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1440px) {
  footer .wrapper .footer_menu {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-area: 3/1/4/13;
  }
}

footer .wrapper .footer_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}

@media screen and (max-width: 1280px) {
  footer .wrapper .footer_menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0;
  }
}

@media screen and (max-width: 1280px) {
  footer .wrapper .footer_menu ul li {
    margin-bottom: 15px;
  }
}

footer .wrapper .footer_menu ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}

footer .wrapper .footer_menu ul li:hover a:before {
  content: '⭐️';
}

footer .wrapper .confedicial {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 10;
  grid-area: 2/3/3/13;
  text-align: right;
  font-size: 18px;
  color: #FFFFFF;
}

@media screen and (max-width: 1440px) {
  footer .wrapper .confedicial {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-area: 2/1/3/13;
    text-align: left;
    margin: 20px 0;
  }
}
/*# sourceMappingURL=product.css.map */